@import '../../variables';

.page-detail {
  .modal-detail {
    position: fixed;
    background-color: $white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;

    .close-btn {

      float: right;
      font-size: 20px;
      color: $gray-6;
      margin: 10px 10px 20px;
      cursor: hand;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@import '../../desktop/pages/detail';

