@import '../../variables';

@media (min-width: $desktop-min-width) {
  .article-item {
    .page-detail & {
      display: flex;
      .article-link {
        flex-basis: 40%;

        .article-img {
          border-radius: 2px;
        }
      }
      .article-content {
        flex-basis: 60%;
        padding-top: 0;
      }
    }
  }
}
